body {
  font-family: 'Space Mono', monospace;
  background: #f7f3f3;
  min-height: 100vh;
  color: #333;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 2rem;
}
body.dark-mode .contact-phone {
  color: #fff;
}

.contact-phone:hover {
  color: #8c3bff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  background: #f7f3f3;
  min-height: 100vh;
  color: #333;
}

nav {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.2rem;
  font-weight: 700;
}

.logo span {
  color: #8c3bff;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  margin-left: 2.5rem;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #8c3bff;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 2.5rem;
  line-height: 1.4;
}

.hero-content .bio {
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 1.5;
}

.hero-image img {
  max-width: 200px;
  border-radius: 50%;
}

.floating-badge {
  background: rgba(140, 59, 255, 0.3);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  position: absolute;
  top: 10%;
  left: 60%;
  transform: translateX(-50%);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  background: rgb(241, 238, 238, 0.05);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.skill-item:hover {
  transform: translateY(-10px);
  background-color: rgba(140, 59, 255, 0.1);
}

.skill-item i {
  font-size: 2rem;
  color: #8c3bff;
}

.skill-item span {
  margin-top: 1rem;
  color: #333;
  font-weight: bold;
}
